@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* define */


/* ::root */

::root {
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
}


/* general setting start*/

* {
    margin: 0;
    padding: 0;
}

*:not(i) {
    font-family: 'Lora', serif;
}

body {
    font-size: 1.6 rem;
    font-weight: 600;
    line-height: 1.5;
    overflow: auto;
    background-color: var(--bg-black-50);
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}


/* li {
    list-style: none;
} */

.container {
    margin: 0 auto;
}

.section {
    padding: 0 60px;
    width: 1241px;
    margin: 0 auto;
}

.title {
    text-transform: capitalize;
    font-size: 1.6em;
}

@keyframes textRotage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* general setting end ------------------------*/


/* header setting start */

.nav-section {
    height: auto;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

.nav-logo {
    flex: 0 0 20%;
    position: relative;
    background-color: antiquewhite;
}

.nav-image-box {
    position: absolute;
    width: 80px;
    align-items: center;
    text-align: center;
    top: 0;
    left: 35%;
}

.nav-image-box:hover {
    cursor: pointer;
}

.nav-image-box img {
    max-width: 80px;
    max-height: 40px;
}

.nav-item {
    flex: 0 0 80%;
    background-color: chocolate;
}

.li-item {
    justify-content: space-between;
    min-width: 16.2%;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.li-item:hover {
    color: whitesmoke;
    transition: all 0.3s ease;
    animation: textRotage 2s linear infinite;
}


/* header setting end */


/* Home section start */

.home-section {
    /* min-height: 60vh; */
    padding: 60px 0;
}

.home-list-item {
    width: 100%;
}

.home-desc {}

.home-desc blockquote a {
    color: blue;
    text-transform: uppercase;
}

.home-desc img {
    width: 100%;
    display: block;
}

.home-desc li {
    list-style: none;
}

.ul-desc-home1 {
    padding: 15px 0;
}

.home-desc .box {
    height: 40px;
    width: 80px;
    padding: auto;
    display: inline-block;
}


/* Home section end */